/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: hsl(168.3, 100%, 36.1%);
    --opacityPrimary: hsla(169, 57%, 76%, 0.99);
    --dark: hsl(0, 0%, 20%);
    --muted: hsl(196, 7%, 41.8%);
    --orange: hsl(35.7, 100%, 57.5%);
    --denger: hsl(0, 78.7%, 63.1%);
    --blue: hsl(210,100%,40%);
    --boldSize: 1.25rem;
    --mediumSize: 1rem;
    --underMediumSize: 0.875rem;
    --smallSize: 0.75rem;

    --boldFont: 700;
    --seconedBoldFont: 500;
    --smallFont: 300;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
